{% extends "Common/common.twig" %}
{% block container %}
	<div class="bg">
		<div class="manage_head">
			<span class="manage_head_title">堂堂十三水充值系统</span>
			<span class="logout">你好，{{ userInfo.id }} <a href="{{ base_url('logout') }}">注销</a></span>
		</div>
		<div class="content">
			<div class="content-left">
				<div class="menus">
					<ul >
						<li><a href="{{ base_url('/') }}">玩家充值</a></li>
                        {% if userInfo.type == 0 %}
                            <li><a href="{{ base_url('proxy-manage') }}">代理商充值</a></li>
                        {% endif %}
						<li class="active"><a href="{{ base_url('account-manage') }}">账号管理</a></li>
					</ul>
				</div>
			</div>
			<div class="content-right">
				<div class="tabs">
					<ul class="clearfix" id="nav">
						<li class="active">账号管理</li>
					</ul>
				</div>

				    <div id="menu_con">
				        <div class="tag" style="display:block">
				            <div class="input-group">
				            	<span style="width:220px;"><label>累计充值钻石数：{{total_diamond}}颗</label></span>
				            	
				            	{% if userInfo.type != 0 %}
									<span style="width:220px;"><label>当前拥有钻石数：{{userInfo.diamond}}颗</label></span>
								{% endif %}

								<span style="font-weight:700;width:220px;">修改密码</span>
				            	<span style="margin-left:28px;"><label>原密码：</label><input type="password" id="oldpasswd" name="oldpasswd" placeholder="请输入原密码"></span>
				            	<span><label>新密码：</label><input type="password" name="newpasswd" id="newpasswd" placeholder="请输入新密码"></span>
				            	<span><label>确认密码：</label><input type="password" name="confpasswd" id="confpasswd" placeholder="请输入确认密码"></span>
            	                <button class="modify">修 改</button>
                				<span class="message-tip">{{error_flashdata}}</span>
				            </div>
				        </div> 

					</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		function change(tab,content){
		var $tab =  $(tab);
		$tab.find("li").eq(0).addClass("active");
		$tab.find("li").on("click",function(){
		var index = $(this).index();
			$(this).addClass("active").siblings().removeClass("active");
			$(content).children("div").eq(index).show().siblings().hide();
		})
		}
		change("#nav","#menu_con");

		$(function(){
			layui.use(['laydate','layer'], function() {
				$('.modify').click(function(){
		            var oldpasswd =  $("#oldpasswd").val();
		            var newpasswd =  $("#newpasswd").val();
		            var confpasswd =  $("#confpasswd").val();
		            $.ajax({
		                type: 'POST',
		                url: '/modify-passwd',
		                data: {oldpasswd:oldpasswd,newpasswd:newpasswd,confpasswd:confpasswd},
		                dataType: "json",
		                    beforeSend: function(){
		                        var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
		                     // Handle the beforeSend event
		                    },
		                    complete: function(){
		                        layer.closeAll('loading');
		                     // Handle the complete event
		                    },
		                    success: function(data){
		                        console.log(data);
		                        if(data.status == 0){
		                            layer.msg('修改成功',{icon: 1});
		                            location.reload()
		                        }else{
		                            layer.msg(data.msg,{icon: 2});
		                        }
		                    }
		            });
				});
			})
		})

	</script>

{% endblock %}

