{% extends "Common/mobile_common.twig" %}
{% block bodyClass %}style="background:#f9f6f3;"{% endblock %}
{% block container %}
<div class="wrapper" style="">
	<div class="nav">
		<div class="page_title">
			<a class="arrow" href="{{base_url('mobile-proxy-manage-list')}}"><span class="arrow_left"></span></a>
				<span>管理代理商</span>
		</div>
	</div>
	<div class="proxy_info">
		<span>代理商信息</span>
		<span>账户名：{{proxy_data['id']}}</span>
		<span>创建时间：{{proxy_data['create_time']}}</span>
		<span>代理商等级：{{proxy_data['leve']}}级</span>
		<span>累计销售钻石数：{{proxy_data['total_diamond']}}颗</span>
		<span>状态：{% if proxy_data.status == 1 %}正常{% else %}封停{% endif %}</span>

	</div>


	{% if proxy_data.status == 1 %}<div class="btn btn_ft">封停账号</div>{% else %}<div class="btn">恢复正常</div>{% endif %}
	

</div>
{% endblock %}

{% block script %}
	<script>
	$(function(){

		$('.btn').click(function(){
            var proxyid =  "{{proxy_data['id']}}";
            $.ajax({
                type: 'POST',
                url: '/proxy-status',
                data: {proxyid:proxyid},
                dataType: "json",
                    beforeSend: function(){
                        layer.open({type: 2,shade:'overflow: auto;'});
                     // Handle the beforeSend event
                    },
                    success: function(data){
                        layer.closeAll()
                        if(data.status == 0){

							layer.open({
							    content: '修改成功'
							    ,btn: '确定',
							    yes:function(){
                            		location.reload()
							    }
							});

                        }else{
							layer.open({
							    content: data.msg
							    ,btn: '确定'
							});
                        }
                    }
            });
		});


	})
	</script>
{% endblock %}
